body {
  margin: 0;
  line-height: normal;
  background-color: var(--color-lavender-100);
}
.b2-6-icon,
.b2-child {
  position: relative;
  flex-shrink: 0;
}
.b2-child {
  background-color: var(--paybd-primary-green);
  filter: blur(500px);
  width: 176px;
  height: 377px;
  display: none;
  opacity: 0.2;
}
.b2-6-icon {
  border-radius: var(--br-xs);
  width: 348px;
  height: 179px;
  object-fit: cover;
}
.wwwaffiliatecombanneriduse {
  align-self: stretch;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copy-content-vector-icon-docum {
  position: relative;
  width: 44px;
  height: 43px;
  flex-shrink: 0;
  object-fit: cover;
}
.wwwaffiliatecombanneriduse-parent {
  flex: 1;
  border-radius: var(--br-md);
  background-color: var(--white-100);
  width: 347px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.share {
  position: relative;
  font-size: var(--font-size-2xl);
  text-transform: uppercase;
  font-family: var(--font-inter);
  color: var(--white-100);
  text-align: center;
}
.share-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-2xl);
  background-color: var(--color-darkslateblue-100);
  flex: 1;
  border-radius: var(--br-md);
  width: 110px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-container,
.frame-parent,
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-container {
  align-self: stretch;
  flex: 1;
  justify-content: center;
}
.frame-parent,
.frame-wrapper {
  justify-content: flex-start;
}
.frame-parent {
  height: 166px;
  flex-shrink: 0;
  gap: var(--gap-2xl);
}
.frame-wrapper {
  align-self: stretch;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 60px;
}
.group-icon {
  position: relative;
  width: 28px;
  height: 20px;
  flex-shrink: 0;
}
.group-container {
  position: absolute;
  top: 22px;
  left: 15px;
  width: 28px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-parent,
.group-wrapper {
  align-self: stretch;
  flex-shrink: 0;
}
.ellipse-parent {
  position: relative;
  width: 56px;
}
.group-wrapper {
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.b2,
.b2-6-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.b2-6-parent {
  flex: 1;
  flex-direction: column;
  padding: 0 0 82px;
  gap: 82px;
}
.b2 {
  position: relative;
  border-radius: var(--br-2xl);
  background-color: var(--color-lavender-100);
  width: 100%;
  height: 864px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-2xs) 1066px;
  box-sizing: border-box;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-mediumslateblue-200);
  font-family: var(--font-inter);
}
