@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.hamburger3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  background-image: url(./public/hamburger@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.notifications2,
.view-all1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.3px;
  display: inline-block;
  width: 130.57px;
}
.view-all1 {
  top: 7px;
  left: 293.85px;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
  color: rgba(0, 0, 0, 0.5);
  width: 46.15px;
}
.money {
  position: relative;
  width: 340px;
  height: 27px;
  flex-shrink: 0;
}
.august-2021 {
  position: relative;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
  width: 123.65px;
}
.one-of-your {
  margin-block-start: 0;
  margin-block-end: 0;
}
.banners-to-earn {
  margin: 0;
}
.congratulations-you-have-container {
  position: relative;
  font-size: var(--font-size-2xl);
  line-height: 24px;
  font-family: var(--font-poppins);
  color: var(--color-black);
  display: inline-block;
  width: 322px;
}
.august-2021-parent {
  align-self: stretch;
  height: 127.8px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.our-new-refferal-container,
.shipmantra-offers-its-container {
  position: relative;
  font-size: var(--font-size-2xl);
  font-family: var(--font-poppins);
  color: var(--color-gray-400);
}
.our-new-refferal-container {
  white-space: pre-wrap;
}
.frame-parent15 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-mediumslateblue-100);
  font-family: var(--font-roboto);
}
.component-26-child,
.group-icon5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon5 {
  height: 33.33%;
  width: 46.67%;
  top: 33.33%;
  right: 26.67%;
  bottom: 33.33%;
  left: 26.67%;
}
.component-26 {
  text-decoration: none;
  position: relative;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.notifications1-child {
  position: relative;
  width: 28px;
  height: 15px;
  flex-shrink: 0;
}
.notifications1 {
  position: relative;
  border-radius: 30px;
  background-color: var(--white-100);
  width: 100%;
  height: 1010px;
  display: flex;
  flex-direction: column;
  padding: 16px 33px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 39px;
  text-align: center;
  font-size: 18px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.group-icon3 {
  position: absolute;
  height: 64.66%;
  width: 34.54%;
  top: 17.67%;
  right: 65.46%;
  bottom: 17.67%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.back {
  position: absolute;
  top: 0;
  left: 38.07px;
  font-size: var(--font-size-3xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.group-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 87.07px;
  height: 24px;
  flex-shrink: 0;
}
.frame-child {
  flex: 1;
  position: relative;
  max-height: 100%;
  width: 152px;
  object-fit: cover;
}
.ellipse-wrapper {
  align-self: stretch;
  height: 150px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div,
.revathi {
  position: relative;
  letter-spacing: -0.3px;
}
.div {
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}
.frame-parent3,
.revathi-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 7px;
}
.frame-parent3 {
  width: 296px;
  height: 318px;
  flex-shrink: 0;
  padding: 0 0 345px;
  box-sizing: border-box;
  align-items: center;
  gap: 42px;
}
.edit {
  position: absolute;
  top: 35px;
  left: 134px;
  line-height: 24px;
  font-weight: 500;
}
.edit-wrapper {
  position: relative;
  border-radius: 11px;
  background-color: var(--color-darkslateblue-100);
  width: 300px;
  height: 45px;
  flex-shrink: 0;
  color: var(--white-100);
  font-family: var(--font-roboto);
}
.icon-light-month-chevron {
  position: absolute;
  top: 21px;
  left: 284.7px;
  width: 7.06px;
  height: 11.68px;
}
.about-us {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--body-main-size);
  line-height: 19.5px;
  font-weight: 500;
  font-family: var(--body-main);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  width: 66.98px;
}
.about-us-wrapper,
.group-child1 {
  position: absolute;
  top: 11px;
  left: 56.86px;
  width: 66.98px;
  height: 20px;
}
.group-child1 {
  top: 0;
  left: 0;
  width: 37.13px;
  height: 40px;
}
.group-div,
.icon-light-month-chevron-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 123.85px;
  height: 40px;
}
.icon-light-month-chevron-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 8px;
  width: 291.76px;
}
.icon-light-month-chevron1 {
  position: absolute;
  top: 22px;
  left: 286.29px;
  width: 7.41px;
  height: 11.68px;
}
.faqs,
.faqs-wrapper {
  position: absolute;
  width: 39.46px;
}
.faqs {
  top: 0;
  left: 0;
  font-size: var(--body-main-size);
  line-height: 19.5px;
  font-weight: 500;
  font-family: var(--body-main);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
}
.faqs-wrapper {
  top: 10px;
  left: 56.7px;
  height: 20px;
}
.group-child2,
.group-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40.18px;
  height: 40px;
}
.group-parent2 {
  width: 96.16px;
}
.icon-light-month-chevron-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 48px;
  left: 8px;
  width: 293.7px;
  height: 40px;
}
.notifications,
.notifications-wrapper {
  position: absolute;
  width: 97.87px;
  height: 20px;
}
.notifications {
  top: 0;
  left: 0;
  font-size: var(--body-main-size);
  line-height: 19.5px;
  font-weight: 500;
  font-family: var(--body-main);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
}
.notifications-wrapper {
  top: 10px;
  left: 55.07px;
}
.group-child3,
.group-wrapper4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 37.94px;
  height: 40px;
}
.group-wrapper4 {
  width: 152.94px;
}
.group-button,
.icon-light-month-chevron2 {
  position: absolute;
  top: 13px;
  left: 284.63px;
  width: 7.07px;
  height: 11.68px;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 96px;
  left: 8px;
  width: 291.7px;
  height: 40px;
}
.history {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--body-main-size);
  line-height: 19.5px;
  font-weight: 500;
  font-family: var(--body-main);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
}
.history-wrapper {
  position: absolute;
  height: 51.84%;
  width: 50.06%;
  top: 22.97%;
  right: 0;
  bottom: 25.19%;
  left: 49.94%;
}
.group-child4,
.group-parent5,
.group-wrapper5 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.group-child4 {
  width: 33.37%;
  right: 66.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent5,
.group-wrapper5 {
  width: 100%;
  right: 0;
}
.group-wrapper5 {
  width: 38.31%;
  right: 61.69%;
}
.group-parent4,
.icon-light-month-chevron3 {
  position: absolute;
  top: 15.59px;
  left: 284.21px;
  width: 7.77px;
  height: 12.09px;
}
.group-parent4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 13.23%;
  width: 94.37%;
  top: 53.8%;
  right: 3.04%;
  bottom: 32.97%;
  left: 2.59%;
}
.icon-light-month-chevron4 {
  position: absolute;
  height: 39.98%;
  top: 44.96%;
  bottom: 15.06%;
  left: 285.09px;
  max-height: 100%;
  width: 8.23px;
}
.contact-us {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  font-size: var(--body-main-size);
  line-height: 19.5px;
  font-weight: 500;
  font-family: var(--body-main);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  width: 71.63px;
}
.contact-us-wrapper,
.group-child5 {
  position: absolute;
  height: 72.27%;
  top: 16.39%;
  bottom: 11.34%;
  left: 53.7px;
  width: 71.63px;
}
.group-child5 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 32px;
}
.group-wrapper6,
.icon-light-month-chevron-container {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 293.09px;
}
.group-wrapper6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 10.46%;
  top: 70.02%;
  bottom: 19.52%;
  left: 8px;
}
.month-chevron-icon {
  position: absolute;
  height: 30.46%;
  width: 3.05%;
  top: 33.1%;
  right: 0;
  bottom: 36.44%;
  left: 96.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.dashboard {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--body-main-size);
  line-height: 19.5px;
  font-weight: 500;
  font-family: var(--body-main);
  color: var(--color-gray-300);
  text-align: left;
}
.group-child6,
.month-chevron-parent {
  position: absolute;
  height: 93.77%;
  width: 81.02%;
  top: 6.23%;
  right: 0;
  bottom: 0;
  left: 18.98%;
}
.group-child6 {
  height: 81.75%;
  width: 10.91%;
  top: 0;
  right: 89.09%;
  bottom: 18.25%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 15.54%;
  width: 94.83%;
  top: 83.47%;
  right: 2.59%;
  bottom: 0.99%;
  left: 2.59%;
}
.group-parent1 {
  position: relative;
  width: 309.4px;
  height: 267.66px;
  flex-shrink: 0;
}
.profile {
  position: relative;
  background-color: var(--white-100);
  display: flex;
  flex-direction: column;
  padding: 29px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  opacity: 0;
  height: 100%;
  max-width: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.profile.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
